.offcanvas,
.pusher,
.nav-offcanvas {
	height: 100%;
}

.offcanvas {
	position: fixed;
	overflow: hidden;
}

.offcanvas.open .pusher {
	position: fixed;
	left: 0;
	z-index: 9999;
	transition: transform 0.5s;
	-webkit-transition: -webkit-transform 0.5s;
	width: 100%;
}

.offcanvas .pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;

	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.offcanvas.open .pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.offcanvas .nav-offcanvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	height: 100%;
	background: #48a770;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	
	overflow-y: auto;
	overflow-x: hidden;

	scrollbar-face-color: #367CD2;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
}

.offcanvas .nav-offcanvas::after {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.offcanvas.open .nav-offcanvas::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.offcanvas-open:before {
	background-color: #333;
}
.offcanvas-open {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}









@media (max-width: 480px) {
	
	.offcanvas .nav-offcanvas {
		width: 300px;
	}

	.offcanvas-open {
		margin-left: 300px;
	}
}

@media (min-width: 481px) {
	.offcanvas .nav-offcanvas {
		width: 300px;
	}

	/* Effect 3: Push*/
	.offcanvas.transition-push.open .pusher {
		-webkit-transform: translate3d(300px, 0, 0);
		transform: translate3d(300px, 0, 0);
	}

	.offcanvas-open {
		margin-left: 300px;
	}
}

/*@media (min-width: 768px) and (max-width: 979px) {*/
/*@media (min-width: 978px) {*/
/*@media (min-width: 1200px) {*/

