/*.st-pusher*/
.offcanvas-main {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform .5s;
          transition:         transform .5s;
}

/*.st-pusher:after*/
.offcanvas-main:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  content: '';
  background: rgba(0,0,0,.2);
  opacity: 0;
  -webkit-transition: opacity .5s, width .1s .5s, height .1s .5s;
          transition: opacity .5s, width .1s .5s, height .1s .5s;
}

/*.st-menu-open .st-pusher::after*/
.offcanvas-active .offcanvas-main:after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity .5s;
          transition: opacity .5s;
}
/*.st-menu*/
.offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 300px;
  height: 100%;
  visibility: visible;
  -webkit-transition: all .5s;
          transition: all .5s;
}

/*.st-menu::after*/
.offcanvas:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(0,0,0,.2);
  opacity: 1;
  /*
  -webkit-transition: opacity .5s;
          transition: opacity .5s;
  */
}

/*.st-menu-open .st-menu::after*/
.offcanvas-active .offcanvas:after {
  width: 0;
  height: 0;
  opacity: 0;
  /*
  -webkit-transition: opacity .5s, width .1s .5s, height .1s .5s;
          transition: opacity .5s, width .1s .5s, height .1s .5s;
  */
}

/*SLIDE*/
/*.st-effect-1.st-menu*/
/*http://stackoverflow.com/questions/5661671/detecting-transform-translate3d-support*/
.offcanvas.offcanvas-left {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
